<h2>Show book</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @book.title %>
  </li>

  <li>
    <strong>Author:</strong>
    <%= @book.author %>
  </li>

</ul>

<%= link "Edit", to: book_path(@conn, :edit, @book) %>
<%= link "Back", to: book_path(@conn, :index) %>
